@media only screen and (min-width: 670px) {
    #medicines {
        width: 650px !important;
    }
    #cart-card {
        width: 60% !important;        
        top: 200px;
    }
}


a {
    cursor: pointer;
    color: rgb(40, 133, 253);
}

.header {
    background-color:rgb(40, 133, 253) !important;
    color: whitesmoke !important;
    text-shadow: none !important;
    height: 60px !important;
}

.head-table {
    width: 100%;
}

#mDiv {
    margin: 0 auto;
    align-content: center;
}

.buttonsDiv {
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
}

.blueBtn {
    background-color: rgb(40, 133, 253) !important;    
    text-shadow: none !important;
    color: whitesmoke !important;
    width: 200px !important;
}

.btn {
    background-color: rgb(250, 252, 255) !important; 
    text-shadow: none !important;
    color: rgb(2, 2, 2) !important;
    width: 200px !important;
}

.link {
    text-decoration: none;
}

.card {
    background-color: rgb(40, 133, 253);
    color: whitesmoke;
    text-shadow: none !important;
    border-radius: 5px;
    height: 60px;
}

#congratsMessage {
    position: relative;
    top: 200px;
    width: 310px;
    height: 220px;
    display: none;    
    background-color: whitesmoke;
    margin: 0 auto;
    z-index: 2;
    padding: 15px;
    border-radius: 15px;
}

#cart-card {
    position: fixed;
    height: 450px;
    display: none;    
    background-color: whitesmoke;
    margin: 0 auto;
    z-index: 2;
    padding: 15px;
    border-radius: 15px;
    left: 50%;
    transform: translate(-50%, 0);
}

#cart {
    
    overflow: auto;
    height: 350px;
}
  
#backMsg {
    position: fixed;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    width: 100%;
    height: 100vh;
}

.medImg {
    width: 150px;
}

.medImg-mini {
    width: 50px;
}

#medicines {
    width: 100%;
    height: 400px;
    text-align: center;
    margin: 0 auto;
}

.medicine-card {
    background-color: white;
    width: 300px;
    display: flex;
    float: left;
    text-align: center;
    border-radius: 15px;
    margin-bottom: 15px;
    padding: 10px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.4);
}

.medicine-card-mini {
    background-color: white;
    width: 300px;
    display: flex;
    float: left;
    text-align: center;
    border-radius: 15px;
    margin-bottom: 15px;
    padding: 10px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.4);
}

.btnMed {
    border: none;
    height: 40px;
    border-radius: 15px;
    padding: 8px;
    background-color: rgb(40, 133, 253);
    color: whitesmoke;
    cursor: pointer;
    font-weight: bold;
}

.btnMed:hover {
    border: none;
    height: 45px;
    border-radius: 15px;
    padding: 8px;
    background-color: rgb(34, 36, 37);
    color: whitesmoke;
    cursor: pointer;
    font-weight: bold;
}

.med-table {
    width: 100%;
}

.td-bar {
    background-color: rgb(255, 255, 227);
}