#loginDiv {
    margin: 0 auto;
    align-content: center;
}

.buttonsDiv {
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
}

.blueBtn {
    background-color: rgb(40, 133, 253) !important;    
    text-shadow: none !important;
    color: whitesmoke !important;
    width: 200px !important;
}

.btn {
    background-color: rgb(250, 252, 255) !important; 
    text-shadow: none !important;
    color: rgb(2, 2, 2) !important;
    width: 200px !important;
}

.link {
    text-decoration: none;
}

.card {
    background-color: rgb(40, 133, 253);
    color: whitesmoke;
    text-shadow: none !important;
    border-radius: 5px;
    height: 60px;
}