@media only screen and (min-width: 820px) {
    .medicines {
        width: 860px !important;
        margin: 0 auto;
    }
    .content-two {
        width: 860px !important;
    }
    #cart-card {
        width: 660px !important;        
        top: 50px;
        height: 560px !important;
    }
    #pur-card {
        width: 390px !important;    
        height: 600px !important;    
        top: 50px;
    }
    #mDiv {
        width: 450px !important;
    }
}

@media only screen and (max-width: 820px) {
    .medicines {
        overflow-x: scroll !important;
    }
}

@media only screen and (min-width: 390px) {
    .card {
        width: 350px !important;
    }
}

.cardImg {
    border-radius: 15px;
    width: 60px;
    cursor: pointer;
}

.cardImg:hover {
    width: 65px;
}

.content {
    text-align: center;
}

.content-two {
    margin: 0 auto;
    text-align: center;
}

a {
    cursor: pointer;
}

.header {
    background-color:rgb(40, 133, 253) !important;
    color: whitesmoke !important;
    text-shadow: none !important;
    height: 60px !important;
}

.head-table {
    width: 100%;
    padding-left: 15px;
}

#mDiv {
    margin: 0 auto;
    align-content: center;
}

.buttonsDiv {
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
}

.blueBtn {
    background-color: rgb(40, 133, 253) !important;    
    text-shadow: none !important;
    color: whitesmoke !important;
    width: 200px !important;
}

.btn {
    background-color: rgb(250, 252, 255) !important; 
    text-shadow: none !important;
    color: rgb(2, 2, 2) !important;
    width: 200px !important;
}

.link {
    text-decoration: none;
}

.card {
    background-color: rgb(40, 133, 253);
    color: whitesmoke;
    text-shadow: none !important;
    border-radius: 5px;
    height: 60px;
    display: flex;    
    margin: 0 auto;
    padding: 2px;
}

#imgCard {
    width: 50px;
    margin-top: 10px;
    padding-right: 15px;
}

#congratsMessage {
    position: relative;
    top: 200px;
    width: 310px;
    height: 220px;
    display: none;    
    background-color: whitesmoke;
    margin: 0 auto;
    z-index: 2;
    padding: 15px;
    border-radius: 15px;
}

#popup {
    position: absolute;
    width: 120px;
    display: none;    
    background-color: whitesmoke;
    z-index: 2;
    padding: 15px;
    border-radius: 0px 0px 15px 15px;
    right: 0px;
    top: 62px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.4);
}

#cart-card {
    position: fixed;
    height: 100vh;
    display: none;    
    background-color: whitesmoke;
    margin: 0 auto;
    z-index: 2;
    padding: 15px;
    border-radius: 15px;
    left: 50%;
    transform: translate(-50%, 0);
}

#pur-card {
    position: fixed;
    width: 100%;
    height: 100vh;
    display: none;    
    background-color: whitesmoke;
    margin: 0 auto;
    z-index: 2;
    padding: 15px;
    border-radius: 15px;
    left: 50%;
    transform: translate(-50%, 0);
}

#cart {    
    overflow: auto;
    height: 350px;
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-radius: 15px;
}

#purchases {    
    overflow: auto;
    height: 350px;
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-radius: 15px;
}
  
#backMsg {
    position: fixed;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    width: 100%;
    height: 100vh;
}

.medImg {
    width: 150px;
}

.medImg-mini {
    width: 50px;
}
#medicines {
    padding: 10px;
    text-align: center;
    display: flex;
    float: left;
}

.medicine-card {
    background-color: white;
    width: 250px;
    text-align: center;
    border-radius: 15px;
    margin-bottom: 15px;
    padding: 10px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.4);
}

.medicine-card-mini {
    background-color: white;
    width: 300px;
    display: flex;
    float: left;
    text-align: center;
    border-radius: 15px;
    margin-bottom: 15px;
    padding: 10px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.4);
}

.align {
    text-align: center;
    margin-top: 10px;
}

.btnNorm {
    border: none;
    width: 140px;
    height: 40px;
    border-radius: 15px;
    padding: 8px;
    background-color: rgb(40, 133, 253);
    color: whitesmoke;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
}

.btnMed {
    border: none;
    height: 40px;
    border-radius: 15px;
    padding: 8px;
    background-color: rgb(40, 133, 253);
    color: whitesmoke;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
}

.btnMed:hover {
    background-color: rgb(34, 36, 37);
}
.btnNorm:hover {
    background-color: rgb(34, 36, 37);
}

.med-table {
    width: 100%;
}

.td-bar {
    padding: 2px;
}

.tdHead {
    font-weight: bold;
}

.purch {
    margin-top: 20px;
}

#mpay {
    border: none;
    width: 250px;
    height: 30px;
    border-radius: 5px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.4);
}

.homeImg{
    width: 100%;
    left: 0;
}